.xrcountdown{
  width: max-content;
  height: max-content;
  position: relative;
}
.xrcountdown :where(span){ /* "where" is to reduce the specificity */
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-weight: 500;
  font-size: 2rem;
}
.xrcountdown circle{
  fill: transparent;
  stroke-linecap: round;
}
